body{
    padding: 50px 100px;

}
h2{
    text-align: center;
    background-color: aqua;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin: 0px;
}

#textbox{
   width:99% ;
   font-size:25px;
   border-color: aquamarine;
   
}
p{
    text-align: center;
    background-color: aqua;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin: 0;

}
#word, #char {
    color: black;
    font-weight: bold;

}